body{
    background-color:black;
    color: rgb(72, 235, 72);
    font-size: x-large;
}
h1{
    background-color:white;
    color: black;
}
p{
    background-color: white;
    color:black;
    margin-right: 300px;
}

button{
    background-color: blue;
    color: white;
    font-size: large;
}
